<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark">
    <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/">Search engine</a>
    </div>
</nav>

<!-- main app container -->
<div class="container-full-bg">
    <div class="jumbotron" style="">
        <div class="container">
            <div class="row">
                <div class="col">
                    <alert></alert>
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </div>
</div>
